<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name = "STDOUT" class = "ch.gos.logback.core.consoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name ="FILE" class= "ch.gos.logback.core.FileAppender">
        <file>out.log</file>
        <appender>true</appender>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>

